[submodule ".vim/bundle/python_matchit"]
	path = .vim/bundle/python_matchit
	url = https://github.com/lambacck/python_matchit
[submodule ".vim/bundle/vim-tagbar"]
	path = .vim/bundle/vim-tagbar
	url = https://github.com/majutsushi/tagbar
[submodule ".vim/bundle/vim-easymotion"]
	path = .vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion
[submodule ".vim/bundle/vim-indent-guides"]
	path = .vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
[submodule ".vim/bundle/vim-matchit"]
	path = .vim/bundle/vim-matchit
	url = https://github.com/edsono/vim-matchit
[submodule ".vim/bundle/vim-ragtag"]
	path = .vim/bundle/vim-ragtag
	url = https://github.com/tpope/vim-ragtag
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/bundle/vim-move"]
	path = .vim/bundle/vim-move
	url = https://github.com/matze/vim-move
[submodule ".vim/bundle/vim-wheel"]
	path = .vim/bundle/vim-wheel
	url = https://github.com/reedes/vim-wheel
[submodule ".vim/bundle/gitv"]
	path = .vim/bundle/gitv
	url = https://github.com/gregsexton/gitv
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule ".vim/bundle/vim-jade"]
	path = .vim/bundle/vim-jade
	url = https://github.com/digitaltoad/vim-jade
